<?xml version="1.0"?>
<config>
    <modules>
        <VS7_BestSeller>
            <version>0.2.0</version>
        </VS7_BestSeller>
    </modules>
    <global>
        <models>
            <vs7_bestseller>
                <class>VS7_BestSeller_Model</class>
                <resourceModel>vs7_bestseller_mysql4</resourceModel>
            </vs7_bestseller>
            <vs7_bestseller_mysql4>
                <class>VS7_BestSeller_Model_Mysql4</class>
            </vs7_bestseller_mysql4>
        </models>
        <resources>
            <vs7_bestseller_setup>
                <setup>
                    <module>VS7_BestSeller</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vs7_bestseller_setup>
            <vs7_bestseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_bestseller_read>
            <vs7_bestseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_bestseller_write>
        </resources>
        <events>
            <test_ordered_calc>
                <observers>
                    <vs7_bestseller_set_ordered_qty>
                        <class>VS7_BestSeller_Model_Observer</class>
                        <method>setOrderedQty</method>
                    </vs7_bestseller_set_ordered_qty>
                </observers>
            </test_ordered_calc>
        </events>
        <blocks>
            <vs7_bestseller>
                <class>VS7_BestSeller_Block</class>
            </vs7_bestseller>
        </blocks>
        <helpers>
            <vs7_bestseller>
                <class>VS7_BestSeller_Helper</class>
            </vs7_bestseller>
        </helpers>
        <cms>
            <page>
                <tempate_filter>vs7_bestseller/template_filter</tempate_filter>
            </page>
            <block>
                <tempate_filter>vs7_bestseller/template_filter</tempate_filter>
            </block>
        </cms>
    </global>
    <frontend>
        <layout>
            <updates>
                <vs7_bestseller>
                    <file>vs7_bestseller.xml</file>
                </vs7_bestseller>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vs7_bestseller translate="title" module="vs7_bestseller">
                                            <title>VS7 Best Seller</title>
                                        </vs7_bestseller>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <vs7_bestseller_ordered_set_qty>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vs7_bestseller/observer::setOrderedQty</model>
                </run>
            </vs7_bestseller_ordered_set_qty>
        </jobs>
    </crontab>
    <default>
        <vs7_bestseller>
            <general>
                <period>12</period>
            </general>
        </vs7_bestseller>
    </default>
</config>